@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    color: #5D5D7D;
    font-weight: 400;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

.container-left {
    display: inline-block;
    width: 60%;
    margin-top: 10%;
    margin-left: 136px;
}

.container-rigth {
    display: inline-block;
    background-color: rgba(93,93,125,0.16);
    height: 100vh;
    width: 37%;
    position: absolute;
    right: 0;
}

h1 {
    width: 368px;
    font-size: 70px;
    line-height: 80px;
}

p {
    width: 540px;
    font-size: 28px;
    line-height: 48px;
    opacity: 0.6;
    margin: 15px 0;
}

button {
    width: 269px;
    height: 62px;
    background: #9499EA;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.10);
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    cursor: pointer;
    
}

button:hover {
    opacity: 0.8;
    transition: all .2s ease-in-out;
    
}

button:active {
    opacity: .4;
}

header {
    margin: 24px 0 0 45px;
}

a {
    font-size: 28px;
    line-height: 42px;
    margin-right: 41px;
    cursor: pointer;
}

a:hover {
    opacity: 0.8;
    transition: all .2s ease-in-out;
    
}

a:active {
    opacity: .4;
}

img {
    position: relative;
    top: 100px;
    right: 135px;
}

@media screen and (max-width: 1225px){
    .wrapper {
        width: auto;
        height: auto;
    }

    .container-left {
        display: block;
        width: 100%;
        height: 50%;
        margin: 0;
        text-align: center;
    }

    .container-rigth {
        display: block;
        height: auto;
        width: auto;
        position: static;
    }

    h1 {
        width: 268px;
        font-size: 42px;
        line-height: 52px;
        margin: 15px auto 0;
    }
    
    p {
        width: 296px;
        font-size: 18px;
        line-height: 24px;
        margin: 15px auto;

    }

    button {
        margin-bottom: 25px;
    }

    header {
        display: none;
    }

    img {
        position: static;
        display: block;
        margin: 0 auto;
        max-width: 75%;
        padding: 20px;
    }
}

@media screen and (max-width: 780px) {
    h1 {
        font-size: 42px;
        margin: 40px auto 0;
    }

    p {
        font-size: 14px;
    }

    img {
        max-width: 70%;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 30px;
        line-height: 40px;
        margin: 10px auto 0;
    }

    p {
        width: 268px;
        font-size: 12px;
    }

    button {
        width: 210px;
        height: 48px;
        font-size: 16px;
        margin-bottom: 15px;
    }

    img {
        max-width: 70%;
        padding: 15px;
    }
}